.nav-link {
  font-size: 18px;
  padding: 4px 16px;
  color: hsl(var(--link));
  font-family: "Roboto Serif", serif;

  &:hover {
    color: hsl(var(--link-hover));
  }

  &.active {
    font-weight: 700;
    color: hsl(var(--link-active));
  }
}
