$primary-color: #52b8d3;

.nav-link {
  font-size: 18px;
  padding: 4px 16px;
  color: #4c4c4c;
  font-family: "Roboto Serif", serif;
  &:hover {
    color: $primary-color;

  }
  &.active {
    font-weight:  700;
    color: $primary-color;
    
  }
}

html[data-mantine-color-scheme="dark"] .nav-link {
  color: #d1d5db;

  &:hover {
    color: $primary-color;
  }

  &.active {
    color: $primary-color;
  }
}
