$primary-color: #2b9dbc;

.nav-link {
  font-size: 14px;
  padding: 4px 16px;
  color: #4c4c4c;
  &:hover {
    color: $primary-color;

  }
  &.active {
    font-weight: bold;
    color: $primary-color;
    
  }
}
